@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Exo2-Regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/Exo2-Medium.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/Exo2-SemiBold.ttf") format("truetype");
}
